.carrusel {
    width: 100%;
    max-width: 1500px; 
    height: 1000px; 
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 30px;
}

.imagenes {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.imagen.activa {
    display: block;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    z-index: 10;
}

.izquierda {
    left: 10px;
}

.derecha {
    right: 10px;
}

.containerr {
    display: inline-flex;
    max-width: 1900px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3 3;
    margin-top: 50px; 
    padding: 0%;
}

.image-section {
    flex: auto;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-section {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    text-align: center;
}

.text-section h1 {
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: bold;
}

.text-section p {
    font-size: 20px;
    color: #9e5353;
    line-height: 1.6;
}

.hidden {
    display: none;
}

#userProfile {
    position: relative;
    display: inline-block;
    align-items: end;
}

#userProfile a {
    padding: 5px 10px;          /* Reduce el padding si es necesario */
    display: flex;              /* Para alinear mejor la imagen */
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 100%;
    left: 0;
    z-index: 1000;
    
}

.dropdown-menu li {
    list-style: none;
    padding: 10px;
    text-align: left;
    
}

.dropdown-menu li a {
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.dropdown-menu li:hover {
    background-color: #444;
}

#userProfile:hover .dropdown-menu {
    display: block;
}

#userName img.user-image {
    width: 50px;                /* Tamaño deseado */
    height: 50px;
    border-radius: 50%;          /* Hace la imagen circular */
    object-fit: cover;           /* Evita que la imagen se deforme */
    display: block;             /* Asegura que la imagen se muestre */
}

.hidden {
    display: none !important;
}