.producto-img{
    
    position: relative; /* Permite mover la imagen desde su posición original */
    top: 50px; /* Mueve la imagen hacia abajo */
    left: 730px; /* Mueve la imagen hacia la derecha */
    width: 700px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.producto-img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 9px 16px rgba(0, 0, 0, 0.4); /* Aumenta la sombra al pasar el mouse */
}

.product-title{
    position: relative  ;
    top:-310px;
    left:3%;
    font-size: 30px;
    color: #c8ff00;
    font-family: "Lucida Console", Monaco, monospace;
}
.description-product{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 40%;
    left: 3%;
    top:-300px;
    font-size: 17px;  
    
    color: #000000;
    font-family: "Lucida Console", Monaco, monospace;
}

.price{
    position : relative;
    font-size: 30px;
    top:-150px;
    color: #c8ff00;
    left: 2.5%;
    font-family: "Lucida Console", Monaco, monospace;
}

.carrito{
    position: relative;
    padding: 15px 30px;
    color: #c8ff00;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.carrito:hover {
    background-color: #090909; /* Cambia el color al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.comprar{
    position: relative;
    padding: 15px 70px;
    color: #c8ff00;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.comprar:hover {
    background-color: #090909; /* Cambia el color al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}