*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 0.8px;
    word-spacing: -3.8px;

}

.header {
    font-size: 18px;
    width: 100%;
    background: transparent;
    color: #c8ff00;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;  
    position: fixed;
    z-index: 1000;
    animation: mover 10s linear infinite alternate;
}

@keyframes mover {
    0% {
        left: 0;
    }
    100% {
        left: 1800px; 
    }
}

body{
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(65,61,61,1) 100%);   
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;

}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    
    background: transparent;


}

.caja__trasera div{
    margin: 100px 40px;
    color: #d4c7bf;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #d4c7bf;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all  300ms;
}

.caja__trasera button:hover{
    background: #d4c7bf;
    color: black;
}

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #d4c7bf;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #c8ff00;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

@media screen and (max-width:850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px ;
        position: absolute;
    }

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

.boton__regresar{
    padding: 200px 700px;
    background: transparent;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    transition: all  300ms;
}

.btn__iniciar-sesion{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 16px;

}

.btn__iniciar-sesion::after {
    position: absolute;
    background: red;
    color: white;
    padding: 5px;
    font-size: 14px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: 5px;
}